:root {
  --mini-font-color: #B1B6CA;
  --heading-color: #000;
  --button-color: #083C6E;
  --footer-color: #152242;
}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', "Arial", sans-serif;
  background-color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* HEADER */
.header{
  padding-top: 53px;
}

.header-items{
  display: flex;
  align-items: center;
  /* padding-bottom: 213px; */
  /* justify-content: space-between; */
}

.header-img{
  margin-right: 501px;
}

.header-links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: -120px;


}

.header-last__link{
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  margin-left: 70px;
  color: #000000;
  font-family: Poppins;
  text-transform: uppercase;
}

.header-link{
  position: relative;
  z-index: 1;
  display: inline-block;
  text-decoration: none;
  margin-left: 70px;
  color: #000000;
  font-family: Poppins;
  text-transform: uppercase;
}

.btn:hover{
  color: #083C6E;
}

.header-link::after{
  position: absolute;
  left: 8px;
  bottom: 0;
  width: 61px;
  height: 3px;
  content: "";

}

.header-link:hover::after{
  background-color:  #083C6E;
}




.header{
  background-image:url(../img/hero\ Image.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 220px;
}

.hero{
  padding-top: 213px;
}

.hero-content{
  font-size: 60px;
  line-height: 84px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  padding: 0;
  margin: 0;
  color: var(--heading-color);
  margin-bottom: 20px;
}

.right-content__title{
  font-family: "Poppins", "Arial", sans-serif;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  margin-bottom: 51px;
}

.right-content__title::after{
  content: "";
  display: block;
  position: absolute;
  width: 154px;
  height: 6px;
  bottom: -20px;
  background-color: var(--button-color);
}

.right-content__dsc{
  font-style: normal;
  font-weight: normal;

  color: #000000;
  width: 452px;
  height: 168px;
  margin-bottom: 5px;
}

.hero-text{

  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
  color: var(--mini-font-color);
  margin-bottom: 50px;

  color: #B1B6CA;
  width: 446px;
  height: 56px;

}

.button {
  padding: 15px 50px;
  border: none;
  box-sizing: content-box;
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  color: #fff;
  background-color: var(--button-color);


  /* FURNITURE-FOOTER */

  text-decoration: none;
  border: 2px solid transparent;
  transition: color 0.3s ease,
   background-color 0.3s ease,
   border-color 0.3s ease;
}



 main.button:hover{
  background: #fff;
  color: #083C6E;
  border: 2px solid #083C6E;
}


.hero-input{
  width: 270px;
  height: 50px;
  background: #F1F1F1;
  border: none;
  padding-left: 37px;
}

.hero-button{
  width: 145px;
  height: 50px;
  border: none;
  text-transform: uppercase;
  background: #083C6E;
  color: #FFFFFF;
  font-family: Poppins;
}

.hero-button:hover{
  color: #083C6E;
  background: #fff;
  border: 2px solid #083C6E;
}


.our-fave__section {
  padding-top: 150px;
}

.our-fave__section {
  background-image: url("../img/our-section-top-bgimg.svg"), url("../img/our-section-top-bgimg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + -508px) 205px, calc(50% + 530px) 990px;
}

.our-fave--section__title {
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  display: flex;
  align-items: center;
  color: #000000;
  margin: 0;
  margin-bottom: 100px;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.our-fave__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.our-fave__item {
  position: relative;
  z-index: 2;
  margin-right: 20px;
}




.our-fave__item:nth-child(3) {
  margin-right: 0;
}

.our-fave__inner {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  background-color: #083C6E;
  opacity: 0.9;
}

.our-fave__inner-text {
  margin-right: auto;
  margin: 0;
  color: #FFFFFF;
}

.our-fave__inner-money {
  padding: 8px 16px;
  border: 1.5px solid #FFFFFF;
  border-radius: 5px;
  margin: 0;
  color: #FFFFFF;
}

.our-fave__inner-sale {
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 8px 18px;
  background-color: #083C6E;
  color: #FFFFFF;
}

.button {
  padding: 15px 50px;
  border: none;
  box-sizing: content-box;
  text-transform: uppercase;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  background-color: var(--button-color);
}

.furneture-content__all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 144px;
}

.furneture-content {
  width: 450px;
}

.furneture-content__title {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 52px;
  line-height: 64px;
  color: #000000;
  margin: 0;
}

.furneture-content__title::after {
  content: "";
  border-bottom: 5px solid var(--button-color);
  width: 154px;
  height: 6px;
}

.furneture-content__span {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
}

.furneture-content__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #B1B6CA;
  margin: 0;
  margin-bottom: 50px;
  margin-top: 20px;
}

.section-benefits {
  padding-bottom: 319px;
}


.section-benefits__text{
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--heading-color);
  margin: 0;
  padding: 0;
}

.section-benefits__title{
  position: relative;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  display: flex;
  align-items: center;
  color: var(--heading-color);
  margin: 0;
  padding: 0;
}

.section-benefits__title::after{
  content: "";
  position: absolute;
  display: block;
  width: 183px;
  bottom: -20px;
  height: 7px;
  background-color: var(--button-color);
}

.section-benefits__heading{
  width: 432px;
}

.section-benefits__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  margin-top: 74px;
}

.benefits-list__title{
  font-family: "Poppins", "Arial", sans-serif;
  width: 193px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  color: var(--heading-color);
  margin-bottom: 5px;
}

.benefits-list__text{
  width: 263px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: var(--mini-font-color);
  margin: 0;
  padding: 0;
}

.section-benefits__item{
  display: flex;
  position: relative;
  margin-left: 96px;
}

.section-benefits__item::before{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  top: -20px;
  left: -95px;
  background-image: url(../img/medal.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 16px;
}

.item-two::before{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  top: -20px;
  left: -95px;
  background-image: url(../img/car.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 16px;
}

.item-three::before{
  content: "";
  display: block;
  position: absolute;
  width: 96px;
  height: 96px;
  top: -20px;
  left: -95px;
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 16px;
}

.box-two{
  width: 220px;
}

.image-wrapper{
  margin-top: 146px;
  position: relative;
}

.image-wrapper::before{
  content: "";
  display: block;
  width: 230px;
  height: 216px;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url(../img/off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.image-wrapper::after{
  content: "";
  display: block;
  width: 434px;
  height: 454px;
  position: absolute;
  bottom: -150px;
  left: 170px;
  z-index: 1;
  background-image: url(../img/futniture-bg-bottom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.section-benefist__bottom-content{
  display: flex;
}

.right-content__wrapper{
  width: 455px;
  margin-top: 272px;
  margin-left: 86px;
}

.right-content__text{
  font-family: " Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 34px;
}

  .furniture-footer {
  position: relative;
  padding-top: 367px;
  padding-bottom: 31px;
  background-color: var(--footer-color);
}

.furniture-footer__form-wrapper {
  position: absolute;
  top: -180px;
  padding: 75px 162px 87px;
  background-color: #F8F8F8;
}

.subscribe__title {
  margin: 0 auto;
  text-align: center;
  width: 585px;
}

.subscribe__heading {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-weight: 500;
  font-size: 38px;
  line-height: 48px;
  color: var(--button-color);
}

.subscribe__heading::after {
  font-family: 'Poppins';
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 154px;
  height: 6px;
  background-color: var(--button-color);
  content: "";
}

.subscribe__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  color: var(--mini-font-color);
}

.subscribe__form {
  position: relative;
  display: flex;
  justify-content: center;
}

.subscribe__input {
  padding: 18px;
  padding-left: 30px;
  width: 787px;
  border: 1px solid #075DB0;
}

.subscribe__input::placeholder {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #706464;
  opacity: 0.8;
}

.subscribe__button {
  position: absolute;
  right: 8px;
  top: 6px;
}

.footer__wrapper {
  display: flex;
}

.footer__list {
  margin: 0;
  padding: 0;
  width: 255px;
  list-style: none;
  margin-right: 30px;
}

.footer__item {
  margin-bottom: 20px;
}

.footer__link {
  font-family: 'Arial';
  color: #fff;
  font-weight: 350;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
}

.footer__need-help {
  width: 255px;
}

.footer__wrapper h2 {
  font-weight: 750;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.footer__need-help p {
  font-weight: 750;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.footer__need-help address {
  font-weight: 350;
  font-size: 18px;
  line-height: 30px;
  color: #fff;
}

.footer__list-social {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  list-style: none;
}

.footer__item-social {
  margin-right: 30px;
}

path {
  transition: fill 0.3s ease;
}

.footer__link-social:hover path {
  fill: #C4C4C4;
}

.bank-list {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.bank-item {
  margin-right: 12px;
}

hr {
  margin-bottom: 31px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
